<!DOCTYPE html>
<html lang="en">
<head>
    <title>Main</title>
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css">
</head>
<body class="main">
	<ul class="nav nav-pills" role="tablist">
		<li role="presentation" class="active"><a href="/">执行命令</a></li>
		<li role="presentation"><a href="#">数据分析</a></li>
		<li role="presentation"><a href="#">战略措施</a></li>
	</ul>
		{{{body}}}
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>