extends record

block plain
	div(class="forFlow")
		div(class="entrylist")
			a(class="entrylistTitle" href="") D3.js
		div(class="entrylistPostSummary")
			div(class="c_b_p_desc")	摘要：#{data.node[4].content.brief}
				a(href="" class="c_b_p_desc_readmore")阅读全文
		hr
		div(class="entrylist")
			a(class="entrylistTitle" href="") Bootstrap模板
		div(class="entrylistPostSummary")
			div(class="c_b_p_desc")	摘要：#{data.node[5].content.brief}
				a(href="" class="c_b_p_desc_readmore")阅读全文
		hr
		div(class="entrylist")
			a(class="entrylistTitle" href="") jade视图模板
		div(class="entrylistPostSummary")
			div(class="c_b_p_desc")	摘要：#{data.node[6].content.brief}
				a(href="" class="c_b_p_desc_readmore")阅读全文