extends record

block plain
	div(class="forFlow")
		div(class="entrylist")
			a(class="entrylistTitle" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000") Git版本工具
		div(class="entrylistPostSummary")
			div(class="c_b_p_desc")	摘要：#{data.node[3].content.brief}
				a(href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000" class="c_b_p_desc_readmore")阅读全文