extends ./layouts/main
block content
	.container
		div(style="padding-left: 5vm;padding-right:5vm;" class="jumbotron")
			h1 Learn		Keystone
			div(stype="width:100px;height:0.1px")		
				small	Keystone is a web frame.
				a(class="btn btn-primary btn-lg" href="/cmd" role="button")	Learn more
	