extends ./layouts/navWu
block content
	.container
		div(style="padding-left: 5vm;padding-right:5vm;" class="jumbotron")
			h1 Learn		Keystone
			div(stype="width:100px;height:0.1px")		
				small	Keystone is a web frame.
				a(class="btn btn-primary btn-lg" href="/cmd" role="button")	Learn more
	.container
		.row
			.col-sm-6.col-md-4
				.thumbnail
					img(src="/images/hzhb_logo_5z.jpg" style="width:400px;height:200px")
			.col-sm-6.col-md-4
				.thumbnail
					img(src="/images/hzhb_logo_1z.jpg" style="width:400px;height:200px")
			.col-sm-6.col-md-4
				.thumbnail
					img(src="/images/hzhb_logo_3z.jpg" style="width:400px;height:200px")