extends record

block plain
	div(class="forFlow")
		div(class="entrylist")
			a(class="entrylistTitle" href="http://keystonejs.com/zh/docs/database/") Mongodb数据库
		div(class="entrylistPostSummary")
			div(class="c_b_p_desc")	摘要：#{data.node[7].content.brief}
				a(href="http://keystonejs.com/zh/docs/database/" class="c_b_p_desc_readmore")阅读全文