extends ./layouts/main

block content
	.container: .row
		.col-sm-4.col-md-3
			h3 文章分类
			div(class="sidebar-block")
				div(class="catListPostCategory sidebar-block")
					h4(class="catListTitle").list-group-item随笔分类
					ul(class="nav in",id="side-menu")
						li
							a(href="/node",class="active",data-toggle="modal" data-target="#modal1")
								i(class="fa fa-dashboard fa-fw") 
								= "1.node、express、keystone"
						li
							a(href="/git",class="active",data-toggle="modal" data-target="#modal1")
								i(class="fa fa-dashboard fa-fw") 
								= "2.git工具"
						li
							a(href="/jade",class="active",data-toggle="modal" data-target="#modal1")
								i(class="fa fa-dashboard fa-fw") 
								= "3.d3、bootstrap、jade"
						li
							a(href="/mongodb",class="active",data-toggle="modal" data-target="#modal1")
								i(class="fa fa-dashboard fa-fw") 
								= "4.mongodb"
						li
							a(href="#",class="active",data-toggle="modal" data-target="#modal1")
								i(class="fa fa-dashboard fa-fw") 
								= "5.javascript编程"
					a(href="#").list-group-item 心灵驿站
					a(href="/plain").list-group-item 我的规划
		.col-sm-8.col-md-9
			block plain